<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p>AliasKeyManager is an alternative KeyManager implementation which selects the key used for client
                    authentication based on the alias and not based on the match against the Certification Authorities
                    which are supported by the SSL server. It is implemented as a custom JSSE Provider, which provides
                    only the KeyManager implementation. The AliasKeyManager extends the X509ExtendedKeyMAnager and
                    replaces the methods used to select the client key. The methods used for selecting the server
                    key are unchanged and their calls are forwarded to the original implementation.</p>

                <h3>Why do we need this?</h3>

                <p>The default Java KeyManager implementation selects the client certificate (which is used for client
                    authentication within the SSL connection) always selects the key which it will use based on the
                    matching issuer certification authorities. The list of supported CAs is always provided by the SSL
                    server when the SSL connection is being established. This works ok in most cases. But there are some
                    cases when this doesn't work that well:</p>

                <ul>
                    <li>When self-signed certificates are used for authentication, they are usually not part of the CA
                        list provided by the server (which is correct, because they are not CAs). As a result, the
                        original KeyManager is unable to select the key to be used for authentication.</li>
                    <li>When there are several keys available to the client and they are all suitable for authentication,
                        the original KeyManager selects one. But every key might have a different value (e.g. every key
                        authenticates as different identity), it might be needed to select a specific key based on its
                        alias.</li>
                </ul>

                <h3>How is the key selected</h3>

                <p>AliasKeyManager can select the key in two different ways:</p>

                <ol>
                    <li>When the system property cz.scholz.aliaskeymanager.alias is specified, this will be the alias of the key which will be used</li>
                    <li>When the system property is not specified, the alias of the first key will be used.</li>
                </ol>

                <p>This basically means, that when you have a keystore with multiple keys, you can use the system
                    property to select the right key. When you have a keystore with only one key, you don't have to do
                    anything, the AliasKeyManager will automatically use the key.</p>

            </div>
        </div>
    </section>