<!-- Installation Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Installation</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">

                <p>Alias KeyManager is available in <a href="http://search.maven.org/#artifactdetails%7Ccz.scholz%7Calias-key-manager%7C1.0.0%7Cjar">Maven Central repositories</a>.
                    All you need to do to use is adding it as dependency into your pom file. Alternatively, you can
                    download the source codes from the GitHub project:</p>

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/scholzj/AliasKeyManager/releases/latest" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Alias KeyManager source codes
                    </a>
                </div>

            </div>
        </div>
    </section>